:root{
    --ff: 'Plus Jakarta Sans', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-0-813: .813rem; 
    --fs-0-875: .875rem;
    --fs-0-5: .5rem;
    --fs-1: 1rem;
    --fs-1-5: 1.5rem;
    --fs-1-125: 1.125rem;

    --clr-purple-1: hsl(242, 48%, 58%);
    --clr-purple-2: hsl(243, 100%, 82%);
    --clr-black-1: hsl(237, 100%, 4%);
    --clr-black-2: hsl(235, 16%, 15%);
    --clr-black-3: hsl(235, 12%, 19%);
    --clr-black-4: hsl(236, 11%, 27%);
    --clr-gray-1: hsl(216, 15%, 57%);
    --clr-gray-2: hsl(221, 69%, 94%);
    --clr-gray-3: hsl(220, 69%, 97%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-orange-1: hsl(0, 78%, 63%);
    --clr-orange-2: hsl(0, 100%, 80%);

    --clr-body: var(--clr-gray-3);
    --clr-header: var(--clr-white);
    --clr-black-text-1: var(--clr-black-1);
    --clr-gray-text-1: var(--clr-gray-1);
    --clr-purple-text-1: var(--clr-purple-1);
    --clr-purple-background-1: var(--clr-purple-1);
    --clr-orange-text-1: var(--clr-orange-1);
    --clr-orange-background: var(--clr-orange-1);
}

body{
    height: 100vh;
    background-color: var(--clr-gray-3);
    font-family: var(--ff);
}
.emptyBoard{
    display: none;
}

.wrapper:empty + .emptyBoard{
    display: block;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

dialog:modal{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  max-width: 70%; */
  /* position: static; */
}

/* utility classes start */
.grayText--1{
    color: var(--clr-gray-1);
}

.blackText--1{
    color: var(--clr-black-1);
}

.purpleText--1{
    color: var(--clr-purple-1);
}

.purpleBackground--1{
    background-color: var(--clr-purple-1);
}

.purpleBackground--2{
    background-color: var(--clr-purple-2);
}

.fw--regular{
    font-weight: var(--fw-regular);
}

.fw--medium{
    font-weight: var(--fw-medium);
}

.fw--bold{
    font-weight: var(--fw-bold);
}

.fs--0-813{
    font-size: var(--fs-0-813);
}

.fs--0-875{
    font-size: var(--fs-0-875);
}

.fs--0-5{
    font-size: var(--fs-0-5);
}

.fs--1{
    font-size: var(--fs-1);
}

.fs--1-5{
    font-size: var(--fs-1-5);
}

.fs--1-125{
    font-size: var(--fs-1-125);
}

.Plus--icon{
    margin-inline-end: .2rem
}

.hidden--item{
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
/* utility classes end */


/* header start */

.header{
    background-color: var(--clr-header);
    padding-block: 1rem;
    margin-block-end: 1rem
}

.upperBar{
    
}
.flex__header{
    display: flex;
    align-items: center;
}

.ellipsis,
.logo{
    align-self: center;
}

.logo{
    margin-inline-end: .7rem;
}

.boardTitle,
.newTask{
    display: flex;
    align-items: center;
}

.boardTitle{
    font-size: var(--fs-1-125);
    flex-grow: 1;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.boardTitle__arrow{
    margin-inline-start: .3rem
}

.newTask{
    border: 0;
    border-radius: 1rem;
    padding: .5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 0.8rem;
}

.newTask[data-cursor='pointer']{
    cursor: pointer;
}

.ellipsis{
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    margin-inline-start: .7rem
}

/* header end */

/* sideBar start */
.sideBar{}

.flex__sideBar{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    padding: 1rem;
    border-radius: 1rem;
}

.sideBar__wrapper{
    width: 300px;
    margin: 0 auto;
}

.nav__title{
    margin-block-end: 1rem;
}
.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav__item{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.nav__link{
    text-decoration: none;
}

.nav__addBoard{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.nav__addBoard .Plus--icon{
    fill: var(--clr-purple-1);
}
/* sideBar end */





