:root{
    --ff: 'Plus Jakarta Sans', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-1: 1rem;
    --fs-1-125: 1.125rem;
    --fs-1-5: 1.5rem;

    --clr-purple-1: hsl(242, 48%, 58%);
    --clr-purple-2: hsl(243, 100%, 82%);
    --clr-black-1: hsl(237, 100%, 4%);
    --clr-black-2: hsl(235, 16%, 15%);
    --clr-black-3: hsl(235, 12%, 19%);
    --clr-black-4: hsl(236, 11%, 27%);
    --clr-gray-1: hsl(216, 15%, 57%);
    --clr-gray-2: hsl(221, 69%, 94%);
    --clr-gray-3: hsl(220, 69%, 97%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-orange-1: hsl(0, 78%, 63%);
    --clr-orange-2: hsl(0, 100%, 80%);

    --clr-body: var(--clr-gray-3);
    --clr-header: var(--clr-white)
}

body{
    height: 100vh;
    background-color: var(--clr-body);
}
.emptyBoard{
    display: none;
}

.wrapper:empty + .emptyBoard{
    display: block;
}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

dialog:modal{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  max-width: 70%; */
  /* position: static; */
}


/* header start */
.hiddenLogo{
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.sideBar{
    display: none;
}

.header{
    background-color: var(--clr-header);
    padding-block: 1rem
}
.flexHeader{
    display: flex;
    align-items: center;
    /* outline: 1px solid red; */
}

.ellipsisIcon,
.logo{
    align-self: center;
}

.logo{
    margin-inline-end: 1rem;
}




